.intro__popup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    cursor: wait;
}


.intro__popup .centerSlider.intro {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.intro__popup .mainSlider__center>.center__img>.centerSliderWrap>.centerSlider.s1.intro {
    transform: translateX(0);
    background-image: url(../../img/main01.jpg);
}

.intro__popup .mainSlider__center>.center__img>.centerSliderWrap>.centerSlider.s2.intro {
    transform: translateX(0);
    background-image: url(../../img/main02.jpg);
}

.intro__popup .mainSlider__center>.center__img>.centerSliderWrap>.centerSlider.s3.intro {
    transform: translateX(0);
    background-image: url(../../img/main03.jpg);
}

.intro__popup .mainSlider__center>.center__img>.centerSliderWrap>.centerSlider.s4.intro {
    transform: translateX(0);
    background-image: url(../../img/main04.jpg);
}

.intro__popup .mainSlider__center>.center__img>.centerSliderWrap>.centerSlider.s5.intro {
    transform: translateX(0);
    background-image: url(../../img/main05.jpg);
}